<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SNES"
            id="com.flow.snesde.debug">
      </category>
      <view
            name="Project Model"
            icon="icons/sample.gif"
            category="com.flow.snesde.debug"
            class="com.flow.snesde.debug.views.ProjectModelView"
            id="com.flow.snesde.debug.views.ProjectModelView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.flow.snesde.debug.views.ProjectModelView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
