<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated projectmeta -->
      <package
            uri="http://www.example.org/projectmeta"
            class="projectmeta.ProjectmetaPackage"
            genModel="model/projectmeta.genmodel"/>
   </extension>

</plugin>
