<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.flow.snesde.core.perspectives.SnesdeDefaultPerspective"
            fixed="true"
            icon="graphics/icons/snesde.png"
            id="com.flow.snesde.core.perspectives.snesdeDefaultPerspective"
            name="SNES">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.flow.snesde.core.preferences.pages.SnesdeGeneralPage"
            id="com.flow.snesde.core.preferences.pages.general"
            name="SNES">
      </page>
      <page
            category="com.flow.snesde.core.preferences.pages.general"
            class="com.flow.snesde.core.WorkbenchPreferencePage1"
            id="com.flow.snesde.core.preferences.pages.tileeditor"
            name="Tileeditor">
      </page>
   </extension>
   <extension
         id="snesdeProductId"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.flow.snesde.core.application"
            name="Flow SNES Development Environment">
         <property
               name="appName"
               value="Flow SNES Development Environmento">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="graphics/icons/snesde_solid.png"
            id="com.flow.snesde.core.project.icon"
            natureId="com.flow.snesde.core.project.SnesdeProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.flow.snesde.snesdecategory"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="graphics/icons/snesde.png"
            id="com.flow.snesde.core.views.snesdeexplorer"
            name="SNES Explorer">
      </view>
      <category
            id="com.flow.snesde.snesdecategory"
            name="SNES">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.flow.snesde.core.views.snesdeexplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.flow.snesde.core.views.snesdeexplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.flow.snesde.core.perspectives.snesdeDefaultPerspective">
         <view
               closeable="true"
               id="com.flow.snesde.core.views.snesdeexplorer"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <!-- this will add the "Run" buttons to the toolbar -->
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.flow.snesde.core.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="graphics/icons/snesde.png"
            thread="main"
            visible="true">
         <run
               class="com.flow.snesde.core.SnesdeApplication">
         </run>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.intro"> 
      <intro
            class="com.flow.snesde.core.perspectives.WelcomePage$IntroPart"
            id="com.flow.snesde.introid"
            icon="graphics/icons/snesde.png"/>
      <introProductBinding
            introId="com.flow.snesde.introid"
            productId="com.flow.snesde.core.snesdeProductId">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.flow.snesde.core.wizards.create.project.NewProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.flow.snesde.core.wizards.create.palette.NewPaletteWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="com.flow.snesde.core.wizards.create.palette.NewTilesetWizard">
         <enablement></enablement>
      </commonWizard>
   </extension> 
   <extension
         id="com.flow.snesde.core.project.SnesdeProjectNature"
         name="SNESDE Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.flow.snesde.core.project.SnesdeProjectNature">
         </run>
      </runtime>
      <builder
            id="com.flow.snesde.core.project.SnesdeProjectBuilder">
      </builder>
   </extension>
   <extension
         id="com.flow.snesde.core.project.SnesdeProjectBuilder"
         name="SNESDE Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.flow.snesde.core.project.SnesdeProjectBuilder">
         </run>
      </builder>
   </extension>

</plugin>
